@model IEnumerable<checkpanel.Models.HistoryModel>

@{
    ViewData["Title"] = "checkpanel";
}

<div class="text-center" style="font-size: 1.2em;">
    @foreach (var item in Model)
    {
    <div>@item.Summary &mdash; @item.Detail</div>
    }
</div>
