@model checkpanel.Models.LoginViewModel

<div class="card">
    <div class="card-header p-1">
        Authenticate
    </div>
    <div class="card-body">
        <form method="post" action="@Url.Action("Validate", "Login")">
            <input name="Authentication"
                   class="form-control text-center"
                   type="text"
                   inputmode="numeric"
                   placeholder="000000"
                   pattern="[0-9]*"
                   autocomplete="one-time-code"
            />
            <button class="form-control btn btn-primary mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>
