@model checkpanel.Models.LoginViewModel

<div class="card">
    <div class="card-header p-1">
        Authenticate
    </div>
    <div class="card-body">
        <form method="post" action="@Url.Action("Validate", "Login")">
            <input type="text" class="form-control text-center" placeholder="000000" name="Authentication" />
            <button class="form-control btn btn-primary mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>
