@model checkpanel.Models.LoginViewModel

<div class="card">
    <div class="card-header p-1">
        Authenticate
    </div>
    <div class="card-body">
        @if (Model.State == "Generated")
        {
            <form method="post" action="@Url.Action("Validate", "Login")">
                <input type="text" class="form-control text-center" placeholder="000000" name="Authentication" />
                <button class="form-control btn btn-primary mt-3" type="submit">Submit</button>
            </form>
        }
        else
        {

            <form method="post" action="@Url.Action("Generate", "Login")">
                <button class="form-control btn btn-secondary mt-3" type="submit">Generate</button>
            </form>
        }
    </div>
</div>
