@model checkpanel.Models.ListViewModel
@{
    ViewData["Title"] = "checkpanel";
}

<div class="text-center" style="font-size: 1.2em;">
    <div style="background: rgba(0, 0, 0, 0.3); padding: 16px 0;">
        <h1>@DateTime.Now.DayOfWeek</h1>
    </div>
    @foreach ((ItemModel item, PunchModel punch) in Model.ListSet)
    {
    <div class="form-check p-4">
        <form method="post" action="@Url.Action("PunchItem", "List", new { id = item.Id })">
            <div>
                <div class="float-left" style="height: auto; top: 0; bottom: 0;">
                @if (punch != null)
                {
                <button href="#" class="btn btn-success mx-3">✓</button>
                }
                else
                {
                <button type="submit" class="btn btn-danger mx-3 mb-6">✗</button>
                }
                </div>
                <div class="text-left">
                <div>@item.Summary</div>
                    @if (punch != null)
                    {
                    <div>Punched at @punch.CreatedAt</div>
                    }
                    else
                    {
                    <div>Not Punched</div>
                    }
                </div>
                @{
                    if (item.Sunday == true && item.Monday == true && item.Tuesday == true && item.Wednesday == true && item.Thursday == true && item.Friday == true && item.Saturday == true)
                    {
                        <text>All </text>
                    }
                    else if (item.Sunday == false && item.Monday == true && item.Tuesday == true && item.Wednesday == true && item.Thursday == true && item.Friday == true && item.Saturday == false)
                    {
                        <text>Weekdays </text>
                    }
                    else if (item.Sunday == true && item.Monday == false && item.Tuesday == false && item.Wednesday == false && item.Thursday == false && item.Friday == false && item.Saturday == true)
                    {
                        <text>Weekends </text>
                    }
                    else
                    {
                        if (item.Sunday == true)
                        {
                            <text>Sun </text>
                        }
                        if (item.Monday == true)
                        {
                            <text>Mon </text>
                        }
                        if (item.Tuesday == true)
                        {
                            <text>Tue </text>
                        }
                        if (item.Wednesday == true)
                        {
                            <text>Wed </text>
                        }
                        if (item.Thursday == true)
                        {
                            <text>Thu </text>
                        }
                        if (item.Friday == true)
                        {
                            <text>Fri </text>
                        }
                        if (item.Saturday == true)
                        {
                            <text>Sat </text>
                        }
                    }
                }
            </div>
        </form>
    </div>
    }
</div>
