@model IEnumerable<checkpanel.Models.ItemModel>

@{
    ViewData["Title"] = "checkpanel";
}

<div class="text-center" style="font-size: 1.2em;">
    @foreach (var item in Model)
    {
        <div class="form-check" class="p-4">
            <form method="post" action="@Url.Action("PunchItem", "List", new { id = item.Id })">
                <button type="submit" class="btn btn-success" onclick="">✓</button> @item.Summary
            </form>
        </div>
    }
</div>
